- content_for :head do
  %title Recipes

%form#tag-group-form.hero-unit
  .span9
    %ol.actions
      %li
        %button#show-recipes Show Recipes
    %ol
      %li
        %label Selected Tag Group
        %select#tag-groups{:size => "10"}
  .span9
    %ol.fields
      %li
        %label{:for => "new-tag-group"} Tag Group
        %input#new-tag-group{:type => "text"}
      %li.button
        %button#add-tag-group Add Tag Group
    %ol#tag-group-fields.side-by-side
      %li
        %label Available Tags
        %ol#ungrouped-tags.draggable
      %li
        %label Tags in Group
        %ol#current-tag-group.draggable
  .clear

%form#recipe-form.hero-unit
  %ol.actions
    %li
      %button#edit-tag-groups Edit Tag Groups
  %ol#selection.side-by-side
    %li
      %label Filter by Tag Group
      %select#tag-group-list{:name => "tag-group-list", :size => "10"}
    %li
      %label Filter by Tag
      %select#tag-list{:name => "tag-list", :size => "10"}
    %li
      %label Selected Recipe
      %select#recipe-list{:name => "recipe-list", :size => "10"}
  %ol#recipe-fields.fields
    %li
      %label{:for => "title"} Title
      %input#title{:name => "title", :type => "text"}
    %li
      %label{:for => "tags"} Tags
      %input#tags{:name => "tags", :type => "text"}
    %li
      %label{:for => "description"} Description
      %textarea#description{:name => "description"}
    %li.button
      %a.btn.btn-primary.btn-large#save Save
