ol
  margin: 17px 0 0 40px
  padding: 0
  list-style-type: none
  &.fields
    width: 900px
    li
      padding-top: 5px
      clear: both
      &.button
        text-align: right
      label
        vertical-align: top
        width: 100px
        display: inline-block
      input[type=text]
        width: 780px

textarea
  width: 770px

ol
  &.fields li
    .wysiwyg
      display: inline-block
      margin-bottom: 10px
    button
      margin-right: 5px
  &.side-by-side
    width: 100%
    li
      vertical-align: top
      display: inline-block
      select
        min-width: 245px
    ol
      margin: 0
      li
        display: block

#tag-group-form
  display: none

ol
  #tag-groups
    min-width: 490px
  #current-tag-group
    min-height: 100px
  &.draggable
    cursor: pointer
    background-color: white
    padding: 20px
    border: 1px solid #CCC
    border-radius: 3px
  &#tag-group-fields ol
    min-width: 160px

.clear
  clear: both
